.titulo-curso-iniciantes1 {
    width: 450px;
    height: 126px;
    font-weight: 700;
    font-size: 55px;
    line-height: 63px;
    color: #FF4081;
}

.text-curso-iniciantes {
    width: 480px;
    height: 186px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    color: #000000;
}

.img-poupando-iniciantes1 {
    padding: 0 0 0 80px;
    width: 400px;
    height: 400px;
}

.curso-iniciantes {
    padding: 80px 130px 100px 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}




.iniciante-video1 {
    padding: 60px 70px 100px 50px;
    width: 500px;
    height: 300px;
}

.titulo-aula-investimento {
    padding: 40px 0 0 0;
    width: 512px;
    height: 40px;
    font-weight: 700;
    font-size: 35px;
    line-height: 40px;
    color: #FF4081;
}

.descritivo-aula {
    width: 501px;
    height: 100px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    align-items: center;
    color: #000000;
}

.videos-iniciantes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #F7F7F7;
}

.container-video-iniciantes1 {
    display: flex;
}

.iniciante-video1 {
    flex: 2;
}

.aula-investimento {
    flex: 1;
}

#linha-horizontal {
    padding: 0 100px 0 100px;
    width: 1000px;
    height: 5px;
    left: 82px;
    top: 834px;
    background: #C4C4C4;
    align-items: center;
}