html, body{
    overflow-x: hidden;
}

body{
    font-family: 'Ubuntu', Arial, sans-serif;
}

.container{
    width: 100%;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header{
    padding: 0 80px;
    background-color: #2E948A;
    display: flex;
    justify-content: center;
}

header h2 a {
    display: block;
    color: transparent;
    background: url(./imagens/logo-header.png) 0 0 no-repeat;
    width: 244px;
    height: 77px;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header nav ul li {
    padding-bottom: 20px;
    list-style: none;
}

header nav a {
    color: #FDFDFD;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    padding: 0 10px;
}

.rodape-cursos{
    padding: 0 80px;
    background-color: #419488;
    display: flex;
    justify-content: center;
}

footer h2 a {
    display: block;
    color: transparent;
    background: url(./imagens/logo-footer.png) 0 0 no-repeat;
    width: 312px;
    height: 102px;
}

footer ul li {
    list-style: none;
}

.tipos-links {
    margin-top: 10px;
    margin-bottom: 0px;
    padding-top: 30px;
}

footer a {
    color: #FDFDFD;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
}

.links-extras a {
    width: 310px;
    border: 2px solid #ffffff;
    border-radius: 62px;
    box-sizing: border-box;
    padding: 10px 35px;
    display: block;
    margin: 0 0 15px;
    text-align: center;
}

.rodape-cursos {
    padding: 0 100px;
}